html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

* {
    box-sizing: border-box;
    font-size: 14px;
}

input,
button {
    color: #757575;
}

a {
    text-decoration: none;
}

.layui-main {
    height: 100%;
    position: relative;
}

.logo {
    height: 60px;
}

.LoginandRegBox {
    width: 400px;
    height: 310px;
    padding: 0 30px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.LoginandRegBox .BoxHead {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}

.LoginandRegBox .BoxBody {
    width: 100%;
    height: 178px;
}

.LoginandRegBox .BoxBody input {
    width: 340px;
    height: 38px;
    margin-bottom: 18px;
    padding-left: 30px;
    border: 1px solid #d3d3d3;
}

.LoginandRegBox .BoxBody .layui-form-item {
    position: relative;
}

.LoginandRegBox .BoxBody i {
    position: absolute;
    left: 10px;
    top: 10px;
}

.LoginandRegBox .BoxBody button {
    width: 340px;
    height: 38px;
    border: 0;
    color: #fff;
}

.LoginandRegBox .BoxBody a {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    font-size: 12px;
}

.regbox {
    display: none;
}